/* Tab Container */
.Tabs {
  color:white;
  display: flex;
  justify-content: center;
  margin: 0 1rem;
}
.nav-tabs{
  display: flex;
  border: 1px solid #39A2DB;
  border-radius: 2rem;
  margin-top:2rem;
  justify-content: center;

  li {
    padding: 2rem;
    list-style: none;  
    cursor: pointer;
    border-radius: 2rem;
    transition: all 0.7s;
    &:hover{
      background: rgba(50, 224, 196, 0.15);
    }
    &.active{
      color: #de4f4f;
    }
  }
}

