@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$primary-text-color:white;
$button-primary-color: #275BE1;
$font-primary: 'Poppins', sans-serif;
$background-color-main: #053742;

/* Remove browser defaults */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-primary;
  background-color: $background-color-main;
}